*.asv
*.exe
*.gif
*.tmp
*$*.docx
*$*.pptx
*$*.xslx
*$*.pyc
*$*.jpg
dataset_dogs_vs_cats/
test1/

OpencvdlHw2_Python/logs/fit/20201223-120954/validation/events.out.tfevents.1608697580.MSI.1320.11221.v2
OpencvdlHw2_Python/logs/fit/20201223-120954/train/plugins/profile/2020_12_23_04_10_03/MSI.xplane.pb
OpencvdlHw2_Python/__pycache__/hw1_ui.cpython-37.pyc
OpencvdlHw2_Python/logs/fit/20201223-120954/train/events.out.tfevents.1608696595.MSI.1320.5681.v2
OpencvdlHw2_Python/logs/fit/20201223-120954/train/events.out.tfevents.1608696603.MSI.profile-empty
OpencvdlHw2_Python/logs/fit/20201223-120954/train/plugins/profile/2020_12_23_04_10_03/MSI.input_pipeline.pb
OpencvdlHw2_Python/logs/fit/20201223-120954/train/plugins/profile/2020_12_23_04_10_03/MSI.kernel_stats.pb
OpencvdlHw2_Python/logs/fit/20201223-120954/train/plugins/profile/2020_12_23_04_10_03/MSI.memory_profile.json.gz
OpencvdlHw2_Python/logs/fit/20201223-120954/train/plugins/profile/2020_12_23_04_10_03/MSI.overview_page.pb
OpencvdlHw2_Python/logs/fit/20201223-120954/train/plugins/profile/2020_12_23_04_10_03/MSI.tensorflow_stats.pb
OpencvdlHw2_Python/logs/fit/20201223-120954/train/plugins/profile/2020_12_23_04_10_03/MSI.trace.json.gz
OpencvdlHw2_Python/final_ResNet50_model.h5
Datasets/Q4_Image/result for example.mp4
test1.zip
dataset_dogs_vs_cats.zip
.vscode/settings.json
